<div class="pt-4 flex justify-center text-center bg-zinc-800 text-white">
  <div class="a">
    <footer class="row footer">
      <div class="col">
        <h2 class="flex items-center justify-center font-bold">Made By: " Mr. Shubham Sharma"</h2>
        
        <div class="mt-4 mb-3">
          <a href="https://saispl.com/">Visit Site for Services: "SAISPL.COM"</a>
        </div>
      </div>
    </footer>
    <div class="mt-2">
      <p>&copy; 2024 Shubham Sharma. All rights reserved.</p>
    </div>
    <br>
  </div>
</div>


<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');
    const eyeView = document.querySelector('#eyeView');
    const eyeCut = document.querySelector('#eyeCut');
  
    togglePassword.addEventListener('click', function (e) {
      // toggle the type attribute
      const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
      password.setAttribute('type', type);
  
      // toggle the eye icon
      eyeView.style.display = eyeView.style.display === 'none' ? 'block' : 'none';
      eyeCut.style.display = eyeCut.style.display === 'none' ? 'block' : 'none';
    });
    // Add Profile Image add code
    document.querySelector("#uploadicon").addEventListener("click", () => {
    document.querySelector("#uploadform input").click();
  });
  document.querySelector("#uploadform input").addEventListener("change", () => {
    document.querySelector("#uploadform").submit();
  });
  </script>
</body>
</html>
